<div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh" *ngIf = "loadingFlag">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>
<div *ngIf = "!loadingFlag">
<h3>MERCHANT DETAILS</h3>
<c-card>
    <c-row style="padding: 15px;">
        <c-col md="4">
            <span><label><b>Business Name: </b></label> {{merchant.businessName}}</span>
        </c-col>
        <c-col md="4">
            <span><label><b>Branch Code: </b></label>
              <span *ngIf = "merchant.branchCode">  {{merchant.branchCode}}</span>
              <span *ngIf = "!merchant.branchCode">  - </span></span>
        </c-col>
        <c-col md="4">
            <span><label><b>Merchant Type: </b></label> {{merchant.merchantType}}</span>
        </c-col>
    </c-row>
    <c-row style="padding: 15px;">
        <c-col md="4">
            <span><label><b>Contact Number: </b></label> {{merchant.completePhoneNumber}}</span>
        </c-col>
        <c-col md="4">
          <span><label><b>Email: </b></label> {{merchant.email}}</span>
      </c-col>
        <c-col md="4">
            <span><label><b>Registration Date: </b></label> {{merchant.createdAt}}</span>
        </c-col>
    </c-row>
    <c-row style="padding: 15px;">
      <c-col>
        <span><label><b>Activation Status: </b></label> <span *ngIf = "merchant.locked">  Locked</span><span *ngIf = "!merchant.locked">  Active</span></span>
      </c-col>
      <c-col>
        <span><label><b>Country: </b></label>  {{merchant.country}}</span>
      </c-col>
      <c-col md="4">
        <span><label><b>Currency: </b></label> {{merchant.currency}}</span>
    </c-col>
    </c-row>
    <c-row style="padding: 15px;">
      <c-col>
        <span><label><b>Address: </b></label> {{merchant.address}}</span>
      </c-col>
    </c-row>
</c-card>
<br>
<br>
<h3>ORDERS</h3>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
            <table [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Order #</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
                <th scope="col">Rating</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders, let i = index" style="cursor: pointer;"(click)="getorderDetails(order.identifier)">
                <th scope="row">{{order.orderNumber}}</th>
                <td>{{order.customerName}}</td>
                <td>{{order.status}}</td>
                <td>{{order.ratingByCustomer}}</td>
              </tr>
              </tbody>
            </table>
            <nav aria-label="Table pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item"  *ngIf="currentPage != 0" >
                  <a class="page-link" style="cursor: pointer;" (click)="getOrders(currentPage-1)">
                      <span>&#8676;</span>
                  </a>
                </li>
                <li class="page-item">
                  <span class="page-link">{{ currentPage + 1 }} / {{ totalPages }}</span>
                </li>
                <li class="page-item" *ngIf="!(currentPage >= totalPages -1)">
                  <a class="page-link" style="cursor: pointer;" (click)="getOrders(currentPage+1)" >
                      <span>&#8677;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>