<div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh" *ngIf = "loadingFlag">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>
<div *ngIf = "!loadingFlag">
<h3>MERCHANTS</h3>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
            <table [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Business Name</th>
                <th scope="col">Branch Code</th>
                <th scope="col">Email</th>
                <th scope="col">Country</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let merchant of merchants, let i = index" style="cursor: pointer;" (click)="showDetails(merchant.identifier)">
                <th scope="row">{{i+1}}</th>
                <td>{{merchant.businessName}}</td>
                <td>
                  <span *ngIf = "merchant.branchCode">{{merchant.branchCode}}</span>
                  <span *ngIf = "!merchant.branchCode"> - </span>  
                </td>
                <td>{{merchant.email}}</td>
                <td>{{merchant.country}}</td>
              </tr>
              </tbody>
            </table>
            <nav aria-label="Table pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item"  *ngIf="currentPage != 0" >
                  <a class="page-link" style="cursor: pointer;" (click)="getMerchantsList(currentPage-1)">
                      <span>&#8676;</span>
                  </a>
                </li>
                <li class="page-item">
                  <span class="page-link">{{ currentPage + 1 }} / {{ totalPages }}</span>
                </li>
                <li class="page-item" *ngIf="!(currentPage >= totalPages -1)">
                  <a class="page-link" style="cursor: pointer;" (click)="getMerchantsList(currentPage+1)" >
                      <span>&#8677;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>